#!/usr/bin/env zsh

# -*- mode: shell-script -*-
#

# ######################################################################
# # VirtualEnv
# export WORKON_HOME=$HOME/.virtualenvs
# export PROJECT_HOME=$HOME/Dropbox/Development/python
# alias mkve='mkvirtualenv'
# alias setvep='setvirtualenvproject'
# . /usr/local/bin/virtualenvwrapper.sh
