echo "Loading .zsh_profile"

# add (personal) profile commands below
# they won't be backed up to the repo though
# so you'll need to persist the .zsh_profile file another way!

PROMPT_MACHINE_SHORTNAME=$(hostname -s)
# or override with
# PROMPT_MACHINE_SHORTNAME="My Prompt"
